body {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}

header, section {
    width: 800px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 2px 2px 3px rgba(0,0,0, 0.7);
    padding: 20px;
}

header {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    background-color: #484848;
    color: #FFFFFF;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -30px;
}

nav ul a{
    margin-left: -75px;
    border: 1px solid #FFFFFF;
    color: #484848;
    background-color: #FFFFFF;
    padding: 5px;
}

table {
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
    font-size: small;
}

table th {
    background-color: #CCCCCC;
}

table td {
    padding: 4px;
}

a {
    text-decoration: none;
    padding: 2px;
    border:1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0, 0.7);
    color: #FFFFFF;
}
.add {
    padding: 7px;
    background-color: #1f3f9f;
    font-size: medium;
}

.edit {
    background-color: darkgreen;
    font-size: small;
}

.del {
    background-color: crimson;
    font-size: small;
}

form {
    display: flex;
    justify-content: center;
}

fieldset {
    width: 500px;
}

legend {
    font-size: large;
    font-weight: 600;
}

input {
    width: 500px;
    border: 1px solid #CCCCCC;
    padding: 5px;
}

.botao {
    width: 100px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0, 0.7);
}

.valor, .preco {
    border: 1px solid #CCCCCC;
    padding: 2px;
}

.valor {
    border-right: none;
    width: 20px;
    padding: 5px;
}

.preco {
    border-left: none;
    width: 472px;
    padding: 5px;
}

